::ng-deep .mat-tab-labels {
    align-items: stretch;
}

::ng-deep .mat-tab-label {
    flex: 1;
    background-color: #424242;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    opacity: 0.75 !important;

}

::ng-deep .mat-tab-label:hover {
    color: white !important;
}

::ng-deep .mat-tab-label:focus, ::ng-deep .mat-tab-label-active {
    background-color: rgba(66, 66, 66, 1) !important;
    opacity: 1 !important;
    color: white !important;
}

::ng-deep .mat-tab-group.mat-primary mat-tab-label-active {
  background-color: red;
}
