.selected-employee-details {
    margin-top: 16px;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        margin: 0px;
    }

    .employee-info {
        display: flex;
        flex-direction: column;

        .employee-name {
            font-size: 18px; 
        }

        .employee-details {
            font-size: 14px; 
            opacity: 0.81;
        }

    }

}

.hours-wrapper {
    display: flex;
    flex-direction: row;

    .day-label {
        width: 60px;
    }

    .day-hours {
        opacity: 0.7; 
    }
}
