<mat-toolbar>
  Employee Management

  <!-- spacer -->
  <span class="toolbar-spacer"></span>


  <!-- CREATE EMPLOYEE BUTTON -->
  <ng-container *ngIf="isActive('EmployeesHome')">
      <div class="create-employee-btn-wrapper">
          Create Employee
          <button 
              mat-mini-fab 
              class="create-employee-btn" 
              [routerLink]="'./create'">
              <mat-icon>add</mat-icon>
          </button>
      </div>
  </ng-container>

  <!-- EDIT EMPLOYEE BUTTON -->
  <ng-container *ngIf="isActive('EmployeeDetail')">
      <div class="edit-employee-btn-wrapper">
          Edit Employee
          <button 
              mat-mini-fab 
              class="edit-employee-btn" 
              (click)="editEmployee()">
              <mat-icon>settings</mat-icon>
          </button>
      </div>
  </ng-container>

</mat-toolbar>

<router-outlet></router-outlet>
