<div class="selected-store-details" *ngIf="store">

    <h3 class="store-name">{{ store.name }}</h3>
    <h4 class="store-address">{{ store.address }}</h4>
    <h4 class="store-phone">{{ store.phone }}</h4>

    <div class="hours-wrapper">
        <div class="day-label">Mon</div>
        <div class="day-hours">{{ hoursToString(store.hours.mon) }}</div>
    </div>

    <div class="hours-wrapper">
        <div class="day-label">Tue</div>
        <div class="day-hours">{{ hoursToString(store.hours.tue) }}</div>
    </div>

    <div class="hours-wrapper">
        <div class="day-label">Wed</div>
        <div class="day-hours">{{ hoursToString(store.hours.wed) }}</div>
    </div>

    <div class="hours-wrapper">
        <div class="day-label">Thu</div>
        <div class="day-hours">{{ hoursToString(store.hours.thu) }}</div>
    </div>

    <div class="hours-wrapper">
        <div class="day-label">Fri</div>
        <div class="day-hours">{{ hoursToString(store.hours.fri) }}</div>
    </div>

    <div class="hours-wrapper">
        <div class="day-label">Sat</div>
        <div class="day-hours">{{ hoursToString(store.hours.sat) }}</div>
    </div>

    <div class="hours-wrapper">
        <div class="day-label">Sun</div>
        <div class="day-hours">{{ hoursToString(store.hours.sun) }}</div>
    </div>

</div>
