.employee-list-item {

    height: 72px !important;
    display: flex;

    h3, h4 {
        font-weight: 400;
    }

    .employee-info {
        display: flex;
        flex-direction: column;

        .employee-name {
            font-size: 18px; 
        }

        .employee-details {
            font-size: 14px; 
            opacity: 0.81;
        }
    }

    .view-btn {
        margin-left: 12px; 
    }
}

::ng-deep .mat-selection-list {
    padding-top: 0px !important;
}

::ng-deep .mat-divider {
    border-top-width: 2px !important;
}

::ng-deep .mat-pseudo-checkbox {
    display: none !important;
}

::ng-deep .mat-list-text {
    flex-direction: row !important;
}

.spacer {
    flex: 1 1 auto;
}

