h3 {
    font-weight: 400 !important;
    align-self: center;
    text-align: center;
}

.employee-form {
    width: 60%;
}

.container {
    display: flex;
    justify-content: center;
}

.form-field {
    width: 100%;
}
